
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Principal.cshtml";
}

<link href="~/Content/css/SeleccionMesa.css" rel="stylesheet" />

<div class="card text-center">
    <div class="card-body fa-align-center">
        <p>Bienvenido a Restaurant Siglo XXI</p>
        <h3>SELECCIONA UNA MESA</h3>
    </div>
</div>
<div class="container">
    <div class="mesa">
        @for (int i = 0; i < 23; i++)
        {
            @*<a href="#" id="boton1" class="myButton"><p>Mesa:@(i)</p><p>Estado: disponible</p><p>Capacidad: 2 personas</p></a>*@
            <button id="boton1" class="myButton"><p>Mesa:@(i)</p><p>Estado: disponible</p><p>Capacidad: 2 personas</p></button>
        }
        <button id="boton10" onclick="ChangeColor()" class="myButton"><p>Mesa: para 1</p><p>Estado: disponible</p><p>Capacidad: 2 personas</p></button>
    </div>
    <script language="javascript">
        function ChangeColor() {
            //document.getElementById('boton10').style.backgroundColor = 'Red';
            document.getElementsByClassName('myButton').style.ChangeColor = 'red'

        }

    </script>

</div>
