@model AppRestaurantSiglo21.Models.ESTADOMESA

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_PrincipalAdmin.cshtml";
}
<div class="container">
    <div class="card text-center">
        <div class="card-body">
            <h4>Eliminar Disponibilidad</h4>
        </div>
    </div>
    <br />

    <div class="alert alert-danger" role="alert">
        <h5>¿ Estas seguro de eliminar este registro ?</h5>
    </div>

    <br />
    <div>
        <h4>Estado de Mesa</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Identificación de Estado
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IDESTADOMESA)
            </dd>

            <dt>
                Descripción
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DESCESTADOMESA)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <button type="submit" class="btn btn-lg btn-danger btn-block">Eliminar</button>
            </div>
            <br />
            <br />
            <div> @Html.ActionLink("Volver atrás", "Index", null, new { @class = "btn btn-secondary" })</div>
        }
    </div>
</div>