
@{
    ViewBag.Title = "Index";
    Layout = Session["Layout"].ToString();
}

<div class="container">


    <div class="card text-center">
        <div class="card-body">
            <h4>Pago Finalizado !</h4>
        </div>
    </div>
    <img src="~/Content/Images/pagoOK.png" class="rounded float-right" alt="...">
    <br />
    <div class="jumbotron">
        <h1 class="display-4">Felicidades !</h1>
        <p class="lead">Tu pago ha sido realizado satisfactoriamente.</p>
        <hr class="my-4">
        <p>Te esperamos de regreso... hasta pronto !!!.</p>
        <a class="btn btn-primary btn-lg" href="/Landing" role="button">VOLVER AL SITIO WEB</a>
    </div>
</div>

