
@{
    Layout = Session["Layout"].ToString();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cambio Estado</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
