
@{
    ViewBag.Title = "Index";
    Layout = Session["Layout"].ToString();
}
<div class="container">


    <div class="card text-center">
        <div class="card-body">
            <h4>Mantenedor de Bodega</h4>
        </div>
    </div>
    <br />

    <p>
        @Html.ActionLink("Ingresa Productos", "CrearInsumoStock", null, new { @class = "btn btn-primary" })
        @Html.ActionLink("Validar Stock", "ValidarStock", null, new { @class = "btn btn-primary" })
        @Html.ActionLink("Solicitar Recetas", "ProvverRecetas", null, new { @class = "btn btn-primary" })        
    </p>

    <img src="@Url.Content("~/Images/Bodega.jpg")" width="1110px" height="600px" alt="" />
</div>

