<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @{
        ViewBag.Title = "Administrador";
        Layout = "~/Views/Shared/_PrincipalAdmin.cshtml";

    }

</head>
<body>

    <div>
    </div>

</body>
</html>