<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @{
        ViewBag.Title = "SuperUser";
        Layout = "~/Views/Shared/_PrincipalSuperUser.cshtml";

    }

</head>
<body>

    <div>
    </div>

</body>
</html>